downloads
albumCovers/
images/
__pycache__
databaseFormat.txt
server/database/__pycache__
server/database/test.py
server/TuneRipDatabase.db
server/pytest.ini
/server/tests
server/__init__.py
/build
server/TuneRipDatabase.db
server/TuneRipDatabase.db
*.db
*.db
*.db
*.pyc
/oldcode
/filestodelete
