/* .albumCoverImages {
  position: relative;
  display: inline-block;
} */



.album-cover-image {
    height: 150px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.album-cover-image{
    background-color: #363e42;
}