.cover-art-containter {
    display: grid;
    justify-content: center;
    
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    max-width: 900px; 
    margin: 0 auto;   
    width: 100%;
    height: auto;
    transition: all 0.2s ease-in-out;
}


.cover-art-image {
    height: 150px;
    width: 150px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin-left: 20px;
    background-color: #363e42;
    display: inline-block;
    transition: all 0.2s ease-in-out;
  }

.cover-art-image:hover {
    box-shadow: 0 0 20px rgb(18, 140, 211); 

}



.img-wrapper{
    display: inline-block;
    transition: all 0.2s ease-in-out;
}


.img-wrapper:hover{
    transform: scale(1.15);
}


  
