.albumBoxWrapper{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;

}


.albumBox {
    margin-top: 100px;
    /* width: 300px;             */
    height: 300px;         
    /* border: 2px solid black; */
    background-color: transparent; 
    border-radius: 4px;      
    }

.albumCover {
    /* height: 0px; */
    width: 300px;
    border: 2px solid black;
}

.tracksWrapper {
    /* border: 2px solid black; */
    /* width: 300px;            
    height: 300px;    
    margin-top: 10px;
    border-radius: 4px;    */
    max-height: 200px;    
    overflow-y: auto;     
    padding: 8px;
    border: 1px solid #ffffff;
    background-color: transparent; /* transparent background */
}


/* Optional: custom scrollbar for WebKit browsers */
.tracksWrapper::-webkit-scrollbar {
  width: 6px;
}

.tracksWrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.tracksWrapper::-webkit-scrollbar-track {
  background: transparent;
}
