@import "tailwindcss";



.wrapper {
    text-align: center;
  }



body {
  background-color: #1a1a1a;
}




html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
} 
