
.loading{
    position: right;
}


.user-container {
    display: grid;
    justify-content: center;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    max-width: 900px; /* 3 columns × 300px max per card, roughly */
    margin: 0 auto;   /* center the grid */
    width: 100%;

}


  






