
.loading{
    position: right;
}


.channel-container {
    display: grid;
    justify-content: center;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    max-width: 800px; 
    margin: 0 auto;   /* center the grid */
    /* width: 100%; */
    /* max-height: 400px; */
   /* overflow: hidden; */
}


.downloadSettingsForm{
  background: rgba(255, 255, 255, 0.336);
}


.results .ant-result .ant-result-title {
    color: black;
}   


.results .ant-result .ant-result-subtitle {
    color:  black;
}   

.loadingSubtitle{
   /* color:  black; */
   color : white
}


.animatedlist .bottom-gradient{
  background: transparent;
}

.animatedlist .resultsContext .ant-result .ant-result-subtitle {
  color: white;
}

.animatedlist .resultsContext .ant-result .ant-result-title { 
  color: white;
}

.animatedlist .bg-white {
  background-color: black
}



.test .ant-result .ant-result-title {
    color: black;
}   


.test .ant-result .ant-result-subtitle {
    color:  black;
}   